*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
    background-color: #a9aaac;
    color: #fff;
    max-width: 1500px;
}

.headercate{
    
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

    /*position: relative;
    width: 106%;
    min-width: 900px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252a;*/
}

.navcat {
    position: fixed;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
}

.navcat.active {
    background-color: #fff;
    padding: 15px;
}

.navcat.active .logocat,
.navcat.active a {
    color: #000;
}

.navcat.active .logocatt,
.navcat.active a:hover {
    background: #000;
    color: #fff;
}

.logocat {
    font-size: 25px;
    color: #fff;
}

.menucat {
    display: flex;
}

.menucat li {
    list-style: none;
    margin: 15px;
}

.menucat li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.menucat li a:hover {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}

.scrol {
    height: 100px;
}

.ul-second {
    position: absolute;
    display: none;
    transform: translateY(15px);
}

.ul-second >li {
    border-bottom: 1px solid #fff;
    text-align: center;
    padding: 10px;
    width: 130px;
    transform: translateX(-38px);
    padding: 20px;
}

.ul-second >li:hover {
    background-color: #000;
}

.categorias:hover > .ul-second {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease
}

